/* src/app.css */

.debug{
    border: 1px solid red !important;
}

[data-modal-purging="true"] *,
[data-modal-purging="true"] *::before,
[data-modal-purging="true"] *::after {
  animation: none !important;
  transition: none !important;
}

/* Scroll */
.noScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.noScroll::-webkit-scrollbar {
  display: none;
}
.scrollX {
  overflow-x: auto;
  scrollbar-gutter: auto;
}
.scrollY,
.scrollYAlt {
  overflow-y: auto;
  scrollbar-gutter: auto;
}

/* Scroll for WebKit (Chrome, Edge, Safari) */
.scrollX::-webkit-scrollbar {
  height: 6px;
}
.scrollY::-webkit-scrollbar,
.scrollYAlt::-webkit-scrollbar {
  width: 6px;
}
.scrollX::-webkit-scrollbar-corner,
.scrollY::-webkit-scrollbar-corner,
.scrollYAlt::-webkit-scrollbar-corner {
  background: transparent !important;
}
.scrollX::-webkit-scrollbar-thumb,
.scrollY::-webkit-scrollbar-thumb,
.scrollYAlt::-webkit-scrollbar-thumb {
  background-color: var(--d3);
  /* background-color: transparent; */
  transition: background-color 0.3s;
  border-radius: 3px;
}
.scrollX.scrolling::-webkit-scrollbar-thumb,
.scrollY.scrolling::-webkit-scrollbar-thumb,
.scrollYAlt.scrolling::-webkit-scrollbar-thumb {
  background-color: var(--d2);
}
.scrollX::-webkit-scrollbar-thumb:hover,
.scrollY::-webkit-scrollbar-thumb:hover,
.scrollYAlt::-webkit-scrollbar-thumb:hover {
  background-color: var(--d3);
}
.scrollX::-webkit-scrollbar-track,
.scrollY::-webkit-scrollbar-track,
.scrollYAlt::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0 0 8px 8px;
}
